body {
    background: whitesmoke;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    display: block;
}

.web {
    margin: 10px auto;
    width: 100%;
}

/* Bagian Menu Utama */
ul {
    width: 100%;
    list-style: none;
    position: relative;
    display: inline-table;
    box-shadow: 0 0 10px #000 inset;
}

ul:after {
    content: "";
    clear: both;
    display: block;
}

ul li {
    float: left;
}

ul li:hover {
    background: #4e9a06;
    border-radius: 10px;
}

ul li:hover a {
    color: #fff;
}

ul li a {
    display: block;
    padding: 15px 25px;
    color: blue;
    text-decoration: none;
}